<?xml version="1.0" encoding="UTF-8"?>
<!-- Define the roles we want to use in the application -->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AddToShoppingCart</servlet-name>
        <servlet-class>com.transitionsoft.AddToShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromShoppingCart</servlet-name>
        <servlet-class>com.transitionsoft.RemoveFromShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>com.transitionsoft.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantities</servlet-name>
        <servlet-class>com.transitionsoft.UpdateQuantities</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order</servlet-name>
        <servlet-class>com.transitionsoft.Order</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessForm</servlet-name>
        <servlet-class>com.transitionsoft.ProcessForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.transitionsoft.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakePdf</servlet-name>
        <servlet-class>com.transitionsoft.MakePdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FillPdf</servlet-name>
        <servlet-class>com.transitionsoft.FillPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUserEmail</servlet-name>
        <servlet-class>com.transitionsoft.ConfirmUserEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParseData</servlet-name>
        <servlet-class>com.transitionsoft.ParseData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpressCheckout</servlet-name>
        <servlet-class>com.transitionsoft.ExpressCheckout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadCounter</servlet-name>
        <servlet-class>com.transitionsoft.DownloadCounter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessDB</servlet-name>
        <servlet-class>com.transitionsoft.ProcessDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateUI</servlet-name>
        <servlet-class>com.transitionsoft.GenerateUI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operations</servlet-name>
        <servlet-class>com.transitionsoft.Operations</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToShoppingCart</servlet-name>
        <url-pattern>/AddToShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromShoppingCart</servlet-name>
        <url-pattern>/RemoveFromShoppingCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantities</servlet-name>
        <url-pattern>/UpdateQuantities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessForm</servlet-name>
        <url-pattern>/ProcessForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakePdf</servlet-name>
        <url-pattern>/MakePdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FillPdf</servlet-name>
        <url-pattern>/FillPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmUserEmail</servlet-name>
        <url-pattern>/ConfirmUserEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParseData</servlet-name>
        <url-pattern>/ParseData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpressCheckout</servlet-name>
        <url-pattern>/ExpressCheckout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadCounter</servlet-name>
        <url-pattern>/DownloadCounter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessDB</servlet-name>
        <url-pattern>/ProcessDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateUI</servlet-name>
        <url-pattern>/GenerateUI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operations</servlet-name>
        <url-pattern>/Operations</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Secure Area</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/error.jsp?msg=Login Failed</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>member</role-name>
    </security-role>
    <security-constraint>
        <display-name>Security constraint for the /member folder</display-name>
        <!-- Define the resource, a /members folder -->
        <web-resource-collection>
            <web-resource-name>Members Only</web-resource-name>
            <url-pattern>/members/*</url-pattern>
        </web-resource-collection>
        <!-- Only administrators and members can access this resource -->
        <auth-constraint>
            <role-name>admin</role-name>
            <role-name>member</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Security constraint for the /admin folder</display-name>
        <!-- Define the resource, a /admin folder -->
        <web-resource-collection>
            <web-resource-name>Administration</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <!-- Only administrators can access this resource -->
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Use BASIC security -->
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp?code=404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp?code=500</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/login.jsp?msg=Not Enough Privileges</location>
    </error-page>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <security-role>
        <description/>
        <role-name>manager</role-name>
    </security-role>
</web-app>
