A {
	FONT-SIZE: 12pt; COLOR: #000000; LINE-HEIGHT: normal;  TEXT-DECORATION: none
}

A:hover {
	FONT-SIZE: 12pt; COLOR: #000000; LINE-HEIGHT: normal;  TEXT-DECORATION: underline;
}
.button1 {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 7pt; BORDER-LEFT-COLOR: #595959; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #595959; COLOR: #595959; BORDER-TOP-COLOR: #595959; BACKGROUND-COLOR: #faf8de; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #595959
}
#heading {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #065e6c; FONT-FAMILY: Verdana, sans-serif
}
#heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #851903; FONT-FAMILY: Verdana, sans-serif
}
#subheading {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #065e6c; FONT-FAMILY: Verdana, sans-serif
}
#price {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #065e6c; FONT-FAMILY: Verdana, sans-serif
}
#subprice {
	FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #065e6c; FONT-FAMILY: Verdana, sans-serif
}
#productbox {
	BORDER-LEFT-COLOR: #a2a2a2; BORDER-BOTTOM-COLOR: #a2a2a2; BORDER-TOP-STYLE: solid; BORDER-TOP-COLOR: #a2a2a2; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #a2a2a2; BORDER-BOTTOM-STYLE: solid
}
#prodtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #666666; FONT-FAMILY: Arial, Verdana, sans-serif
}
#prodtitle2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #065e6c; FONT-FAMILY: Arial, Verdana, sans-serif
}
#fontsignin {
	FONT-SIZE: 10pt; COLOR: #000000; FONT-FAMILY: Verdana, sans-serif
}
#catnumber {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #065e6c; FONT-FAMILY: Verdana, sans-serif
}
.form1 {
	BACKGROUND-COLOR: #f5f5f5
}
.inputbox {
	FONT-SIZE: 9px; COLOR: #065e6c; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #ffffff
}
A.NavLinkDeselected:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana, arial; TEXT-DECORATION: none
}
.NavText {
	FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: verdana, arial; TEXT-DECORATION: none
}
.itemNavLayer {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; BACKGROUND: #75787d; COLOR: #000000; LINE-HEIGHT: 14px; FONT-FAMILY: Helvetica, Arial; TEXT-DECORATION: none
}
.itemNavWhite {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ffffff; LINE-HEIGHT: 14px; FONT-FAMILY: Helvetica, Arial; TEXT-DECORATION: none
}
.itemNavLinks {
	FONT-WEIGHT: normal; FONT-SIZE: 7px; COLOR: #000000; FONT-FAMILY: Verdana, sans-serif; ext-decoration: none
}
UNKNOWN {
	BORDER-RIGHT: navy 1px solid; BORDER-TOP: navy 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: navy 1px solid; COLOR: #336699; BORDER-BOTTOM: navy 1px solid; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
