@charset "utf-8";
/* CSS Document */

body 
{
	font-family: Arial, Helvetica, sans-serif;
	color: #626771;
	margin: 0px;
	padding: 0px;
	background-image: url(../main_img/bg000000.gif);
	background-repeat: repeat;
}
#wrapper {
	width: 919px;
	margin: 0 auto;
}
#headerStore 
{
	background-image: url(../main_img/logobar_store.gif);
	background-repeat: no-repeat;
	height: 130px;
}
#header {
	height: 298px;
}

#topbarNoSide    { background-image: url(../main_img/topBkgndNoSide.jpg);    background-repeat: no-repeat; 	height: 43px;  }
#topbarLeftSide  { background-image: url(../main_img/topBkgndLeftSide.jpg);  background-repeat: no-repeat;  height: 43px;  }
#topbarRightSide { background-image: url(../main_img/topBkgndRightSide.jpg); background-repeat: no-repeat;  height: 43px;  }
#topbarBothSide  { background-image: url(../main_img/topBkgndBothSide.jpg);  background-repeat: no-repeat;  height: 43px;  }

#bottomNoSide    {  background-image: url(../main_img/bottomBkgndNoSide.jpg);     background-repeat: no-repeat;  height: 32px;  clear: both;  }
#bottomLeftSide  {  background-image: url(../main_img/bottomBkgndLeftSide.jpg);   background-repeat: no-repeat;  height: 32px;  clear: both;  }
#bottomRightSide {  background-image: url(../main_img/bottomBkgndRightSide.jpg);  background-repeat: no-repeat;  height: 32px;  clear: both;  }
#bottomBothSide  {  background-image: url(../main_img/bottomBkgndBothSide.jpg);   background-repeat: no-repeat;  height: 32px;  clear: both;  }

#contentNoSide    {  background-image: url(../main_img/mainBkgndNoSide.jpg);     background-repeat: repeat-y;  padding: 0 18px 0 14px;  overflow: hidden;  }
#contentLeftSide  {  background-image: url(../main_img/mainBkgndLeftSide.jpg);   background-repeat: repeat-y;  padding: 0 18px 0 14px;  overflow: hidden;  }
#contentRightSide {  background-image: url(../main_img/mainBkgndRightSide.jpg);  background-repeat: repeat-y;  padding: 0 18px 0 14px;  overflow: hidden;  }
#contentBothSide  {  background-image: url(../main_img/mainBkgndBothSide.jpg);   background-repeat: repeat-y;  padding: 0 18px 0 14px;  overflow: hidden;  }

#footer {
	height: 40px;
	color: #FFF;
	padding: 0 20px 0 20px;
}
#nav {
	background-image: url(../main_img/navbar.jpg);
	background-repeat: no-repeat;
	height: 38px;
}
.paddingbox {
	padding: 10px 25px 10px 25px;
	overflow: hidden;
}
#left {
	float: left;
	width: 600px;
}
#right {
	float: right;
	width: 200px;
}

#rightStore {
	float: right;
	margin-right:5px;
	width: 200px;
}

h1 
{
	font-family: Arial, "Times New Roman", Times, serif;
	font-size: 25px;
	color: #262729;
	font-weight: normal;
	line-height: 35px;
	margin: 0px;
}
h2 {
	font-family: Arial, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #666666;
	font-weight: normal;
	line-height: 35px;
	margin: 0px;
}
p {
	margin: 0;
	padding: 0;
}
.leftimg {
	float: left;
	padding-right: 10px;
	display: block;
}
.line {
	background-image: url(../main_img/linebg.gif);
	background-repeat: repeat-x;
	background-position: left center;
	height: 20px;
}
.paddingrightbox {
	padding-top: 10px;
	padding-right: 24px;
	padding-bottom: 10px;
	padding-left: 24px;
}
#listing {
	margin: 10px 0 10px 0;
	padding: 0px;
}
#listing #select {
	margin: 4px 0 4px 0;
	padding: 3px;
	width: 160px;
}
#listing #textfield {
	margin: 3px 0 3px 0;
	padding: 3px;
}
.browntext {
	font-weight: bold;
	color: #d9930b;
}
#gallery {
	background-color: #D0D0D0;
	padding: 10px;
	width: 530px;
}
#gallery ul {
	list-style: none;
	margin: 0px;
	padding: 12px;
}
#gallery ul li {
	display: inline;
	margin-right:4px;
}
#gallery ul img {
		border: 5px solid #fff;
		border-width: 5px 5px 20px;
}
#gallery ul a:hover img {
		border: 5px solid #fff;
		border-width: 5px 5px 20px;
		color: #fff;
}
#gallery ul a:hover { color: #666666; 
}

#contact {
	color: #696969;
	padding: 5px;
}
#contact input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 6px;
	border: 1px solid #E7E9EB;
	width: 230px;
	margin: 5px 0 5px 0;
	background-color: #E7E9EB;
	color: #333333;
}
#contact label {
	float: left;
	width: 90px;
	display: block;
	padding: 3px;
	margin: 3px 0 3px 0;
	clear: both;
	color: #999;
}
#contact textarea {
	border: 1px solid #E7E9EB;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 6px;
	width: 230px;
	margin: 5px 0 5px;
	background-color: #E7E9EB;
	color: #333333;
}

/*
	START Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 866px; margin: 0 18px 0 14px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; }


/*
	END Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/



/*
	START DropLine
*/


.droplinebar{
	overflow: hidden;
	height: 38px;
	background-image: url(../main_img/navbar.jpg);
	background-repeat: no-repeat;
}

.droplinebar ul{
margin: 0 auto;
padding: 0;
width: 92%;
font: 15px Arial;
background: center center repeat-x; /*default background of menu bar*/
height: 38px;
}

.droplinebar ul li{
display: inline;
}

.droplinebar ul li a{
float: left;
color: white;
padding: 10px 40px;
text-decoration: none;
}

.droplinebar ul li a:visited{
color: white;
}

.droplinebar ul li a:hover, .droplinebar ul li .current{ /*background of main menu bar links onMouseover*/
color: white;
background: transparent url(../main_img/navhover.gif) center center repeat-x;
}

/* Sub level menus*/
.droplinebar ul li ul{
position: absolute;
z-index: 100;
left: 0;
top: 0;
background: url(../main_img/navhover.png); /*sub menu background color */
visibility: hidden;
}

/* Sub level menu links style */
.droplinebar ul li ul li a{
font: normal 15px Arial;
padding: 10px;
padding-right: 10px;
margin-left: 10px;
}

.droplinebar ul li ul li a:hover{ /*sub menu links' background color onMouseover */
background: transparent url(../main_img/navhover.gif) center center repeat-x;
}

/* Sub level menu links style */
.droplinebar ul li ul li ul li a{
font: normal 15px Arial;
padding: 10px;
padding-right: 10px;
margin-left: 10px;
}

.droplinebar ul li ul li ul li a:hover{ /*sub menu links' background color onMouseover */
background: transparent url(../main_img/navhover.gif) center center repeat-x;
}

/*
	END DropLine
*/