A.footlink {
	FONT-SIZE: 10px; COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.footlink:link {
	FONT-SIZE: 10px; COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.footlink:active {
	FONT-SIZE: 10px; COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
A.footlink:visited {
	FONT-SIZE: 10px; COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.footlink:hover {
	FONT-SIZE: 10px; COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.pipe {
	FONT-SIZE: 11px; COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif
}
#fcolornext {
	BACKGROUND: #ffffff; FONT: 10pt verdana,arial,helvetica; COLOR: #000000
}
.imageBorder {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.imageBorderDark {
	BORDER-RIGHT: #5d5d5d 1px solid; BORDER-TOP: #5d5d5d 1px solid; BORDER-LEFT: #5d5d5d 1px solid; BORDER-BOTTOM: #5d5d5d 1px solid
}
BODY {
	MARGIN-TOP: 0px; FONT-SIZE: 12px; MARGIN-LEFT: 0px; FONT-FAMILY: helvetica, arial
}
A:link {
	FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: underline
}
TABLE {
	FONT-SIZE: 12px; FONT-FAMILY: helvetica, arial
}
TR {
	FONT-SIZE: 12px; FONT-FAMILY: helvetica, arial
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: helvetica, arial
}
.size00 {
	FONT-SIZE: 9px
}
.size01 {
	FONT-SIZE: 10px
}
.size02 {
	FONT-SIZE: 11px
}
.size03 {
	FONT-SIZE: 12px
}
.size04 {
	FONT-SIZE: 13px
}
.toppromo {
	FONT-SIZE: 12px; COLOR: #990000; FONT-FAMILY: helvetica, arial
}
.secondpromo {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: helvetica, arial
}
A:link {
	COLOR: #333333; FONT-FAMILY: helvetica, arial; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; FONT-FAMILY: helvetica, arial; TEXT-DECORATION: none
}
A:active {
	COLOR: #333333; FONT-FAMILY: helvetica, arial; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #333333; FONT-FAMILY: helvetica, arial; TEXT-DECORATION: underline
}
A.secondpromolink:link {
	COLOR: #666666; FONT-FAMILY: helvetica, arial; TEXT-DECORATION: none
}
A.secondpromolink:visited {
	COLOR: #666666; FONT-FAMILY: helvetica, arial; TEXT-DECORATION: none
}
A.secondpromolink:active {
	COLOR: #666666; FONT-FAMILY: helvetica, arial; TEXT-DECORATION: underline
}
A.secondpromolink:hover {
	COLOR: #666666; FONT-FAMILY: helvetica, arial; TEXT-DECORATION: underline
}
A.pololink:link {
	COLOR: #990000; FONT-FAMILY: helvetica, arial; TEXT-DECORATION: none
}
A.pololink:visited {
	COLOR: #990000; FONT-FAMILY: helvetica, arial; TEXT-DECORATION: none
}
A.pololink:active {
	COLOR: #990000; FONT-FAMILY: helvetica, arial; TEXT-DECORATION: underline
}
A.pololink:hover {
	COLOR: #990000; FONT-FAMILY: helvetica, arial; TEXT-DECORATION: underline
}
A.btmlinktext:link {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: helvetica, arial
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: helvetica, arial
}
.topNav1 {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #660000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
BODY {
	FONT-SIZE: 12px; COLOR: #444444; FONT-FAMILY: Verdana, Arial, sans-serif
}
TD {
	FONT-SIZE: 12px; COLOR: #444444; FONT-FAMILY: Verdana, Arial, sans-serif
}
A {
	FONT-SIZE: 12px; COLOR: #444444; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
A:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
FORM {
	FONT-SIZE: 12px; COLOR: #444444; FONT-FAMILY: Verdana, Arial, sans-serif
}
INPUT {
	FONT-SIZE: 12px; COLOR: #444444; FONT-FAMILY: Verdana, Arial, sans-serif
}
TEXTAREA {
	FONT-SIZE: 12px; COLOR: #444444; FONT-FAMILY: Verdana, Arial, sans-serif
}
.siloNav2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #666666; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.silo:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #660000; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.silo:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #660000; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
A.silo:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #990000; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
