@charset "utf-8";
/* CSS Document */

.Container {
	BACKGROUND: url(../images/news_bg.jpg) repeat-y; WIDTH: 153px; POSITION:relative; HEIGHT: 600px
}
#Scroller-1 {
	OVERFLOW: hidden; WIDTH: 153px; POSITION: relative; HEIGHT: 600px
}
#Scroller-1 P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 10px; MARGIN: 0px; COLOR:#000000; TEXT-INDENT: 10px; PADDING-TOP: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.Scroller-Container {
	POSITION: relative;
	height: 300px;
	width: 173px;
	border: 1;
}
#Scrollbar-Container {
	POSITION: relative;
	width: 21px;
	height: 300px;
}
.Scroller-Container A {
	PADDING-RIGHT: 3px;
	DISPLAY: block;
	PADDING-LEFT: 6px;
	PADDING-BOTTOM: 2px;
	MARGIN: 0px;
	PADDING-TOP: 2px;
	BACKGROUND-COLOR: transparent;
	color: #FFFFFF;
}
.Scroller-Container A:hover {
	font-weight:bold;
	BACKGROUND-COLOR: #ece8e8;
	color: black;
	TEXT-DECORATION: none;
}
.Scrollbar-Up {
	CURSOR: pointer; POSITION: relative
}
.Scrollbar-Track {
	BACKGROUND: url(../images/scrollbar_track.gif) no-repeat;
	WIDTH: 20px;
	POSITION: relative;
	HEIGHT: 220px
}
.Scrollbar-Handle {
	WIDTH: 20px;
	POSITION: relative
}
.Scrollbar-Down {
	CURSOR: pointer;
	POSITION: relative;
	top: 20px;
}
