<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="STOREPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.busy.dao.User</class>
    <class>com.busy.dao.Info</class>
    <class>com.busy.dao.Tax</class>
    <class>com.busy.dao.UserRoles</class>
    <class>com.busy.dao.Blog</class>
    <class>com.busy.dao.Strings</class>
    <class>com.busy.dao.SiteTemplateUrl</class>
    <class>com.busy.dao.ServiceType</class>
    <class>com.busy.dao.SiteTemplate</class>
    <class>com.busy.dao.ItemReview</class>
    <class>com.busy.dao.Slider</class>
    <class>com.busy.dao.SiteResourceType</class>
    <class>com.busy.dao.Locales</class>
    <class>com.busy.dao.Customer</class>
    <class>com.busy.dao.Comments</class>
    <class>com.busy.dao.Form</class>
    <class>com.busy.dao.Contact</class>
    <class>com.busy.dao.StoreInfo</class>
    <class>com.busy.dao.Template</class>
    <class>com.busy.dao.ItemLocation</class>
    <class>com.busy.dao.Mailinglist</class>
    <class>com.busy.dao.Type</class>
    <class>com.busy.dao.ImageType</class>
    <class>com.busy.dao.ShoppingCartItems</class>
    <class>com.busy.dao.SiteAttribute</class>
    <class>com.busy.dao.ItemAttributes</class>
    <class>com.busy.dao.Item</class>
    <class>com.busy.dao.ItemOptions</class>
    <class>com.busy.dao.Categories</class>
    <class>com.busy.dao.UserService</class>
    <class>com.busy.dao.Image</class>
    <class>com.busy.dao.Shipping</class>
    <class>com.busy.dao.Address</class>
    <class>com.busy.dao.ItemBrands</class>
    <class>com.busy.dao.SiteInfo</class>
    <class>com.busy.dao.SliderItem</class>
    <class>com.busy.dao.ShoppingCart</class>
    <class>com.busy.dao.ItemFiles</class>
    <class>com.busy.dao.BlogType</class>
    <class>com.busy.dao.ItemImages</class>
    <class>com.busy.dao.ItemCategories</class>
    <class>com.busy.dao.SliderType</class>
    <class>com.busy.dao.LocalizedStrings</class>
    <class>com.busy.dao.ServiceCharge</class>
    <class>com.busy.dao.Paypal</class>
    <class>com.busy.dao.FormFieldType</class>
    <class>com.busy.dao.UserActionType</class>
    <class>com.busy.dao.ItemAvailability</class>
    <class>com.busy.dao.Service</class>
    <class>com.busy.dao.BlogPosts</class>
    <class>com.busy.dao.SiteFolders</class>
    <class>com.busy.dao.Orders</class>
    <class>com.busy.dao.SiteTemplateType</class>
    <class>com.busy.dao.SiteFiles</class>
    <class>com.busy.dao.PageTemplate</class>
    <class>com.busy.dao.FormField</class>
    <class>com.busy.dao.Affiliate</class>
    <class>com.busy.dao.UserAction</class>
    <class>com.busy.dao.ItemOptionsAvailable</class>
    <class>com.busy.entity.Comments</class>
    <class>com.busy.entity.Shipping</class>
    <class>com.busy.entity.SiteAttribute</class>
    <class>com.busy.entity.Tax</class>
    <class>com.busy.entity.Image</class>
    <class>com.busy.entity.SiteTemplateType</class>
    <class>com.busy.entity.UserAction</class>
    <class>com.busy.entity.Template</class>
    <class>com.busy.entity.ItemOptions</class>
    <class>com.busy.entity.FormFieldType</class>
    <class>com.busy.entity.ItemBrands</class>
    <class>com.busy.entity.Slider</class>
    <class>com.busy.entity.Address</class>
    <class>com.busy.entity.Orders</class>
    <class>com.busy.entity.Strings</class>
    <class>com.busy.entity.Customer</class>
    <class>com.busy.entity.ItemImages</class>
    <class>com.busy.entity.Contact</class>
    <class>com.busy.entity.ShoppingCartItems</class>
    <class>com.busy.entity.ItemAvailability</class>
    <class>com.busy.entity.ItemCategories</class>
    <class>com.busy.entity.BlogType</class>
    <class>com.busy.entity.Mailinglist</class>
    <class>com.busy.entity.LocalizedStrings</class>
    <class>com.busy.entity.Paypal</class>
    <class>com.busy.entity.BlogPosts</class>
    <class>com.busy.entity.Blog</class>
    <class>com.busy.entity.SiteFiles</class>
    <class>com.busy.entity.Service</class>
    <class>com.busy.entity.Info</class>
    <class>com.busy.entity.UserService</class>
    <class>com.busy.entity.ItemLocation</class>
    <class>com.busy.entity.Item</class>
    <class>com.busy.entity.StoreInfo</class>
    <class>com.busy.entity.ShoppingCart</class>
    <class>com.busy.entity.Form</class>
    <class>com.busy.entity.User</class>
    <class>com.busy.entity.SiteFolders</class>
    <class>com.busy.entity.ItemAttributes</class>
    <class>com.busy.entity.ServiceType</class>
    <class>com.busy.entity.SiteTemplateUrl</class>
    <class>com.busy.entity.SiteResourceType</class>
    <class>com.busy.entity.UserActionType</class>
    <class>com.busy.entity.FormField</class>
    <class>com.busy.entity.SiteTemplate</class>
    <class>com.busy.entity.UserRoles</class>
    <class>com.busy.entity.ServiceCharge</class>
    <class>com.busy.entity.Type</class>
    <class>com.busy.entity.ImageType</class>
    <class>com.busy.entity.Categories</class>
    <class>com.busy.entity.Affiliate</class>
    <class>com.busy.entity.ItemFiles</class>
    <class>com.busy.entity.ItemOptionsAvailable</class>
    <class>com.busy.entity.SiteInfo</class>
    <class>com.busy.entity.SliderItem</class>
    <class>com.busy.entity.PageTemplate</class>
    <class>com.busy.entity.Locales</class>
    <class>com.busy.entity.SliderType</class>
    <class>com.busy.entity.ItemReview</class>
    <class>com.transitionsoft.Address</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/busystore"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="85291012"/>
    </properties>
  </persistence-unit>
</persistence>
